/* Firefox 스크롤바 스타일 */
html {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  /* scrollbar-gutter: stable; */
}

/* WebKit 브라우저 스크롤바 스타일 (Chrome, Safari, Edge 등) */
html::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html::-webkit-scrollbar-track,
html::-webkit-scrollbar-track-piece {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

html::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2) !important; /* 더 투명하게 설정 */
  border-radius: 4px !important;
  border: none !important;
  min-height: 40px; /* 최소 높이 설정 */
}

html::-webkit-scrollbar-button,
html::-webkit-scrollbar-corner,
html::-webkit-resizer {
  display: none !important;
  background: transparent !important;
  border: none !important;
}
